apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: pihole

resources:
  - 00-pihole-ns.yaml
  - 01-pihole-deployment.yaml
  - 02-ingress.yaml
  - 03-pihole-svc.yaml

commonLabels:
  app: pihole

secretGenerator:
- name: pihole-secret
  files:
  - webpasswd=./private/pihole-secret.yml
